.match-height>[class*=col] {
    display: flex;
    flex-flow: column;
}

.match-height>[class*=col]>.card {
    flex: 1 1 auto;
}

.pt {
    padding-top: 12px;
}

.pb {
    padding-bottom: 12px;
}

.notVisible {
    display: none;
}